@import 'bourbon';
@import 'neat';
@import './mixins';
@import './variables';
@import './top_navigation.scss';

body {
  font-size: 0px;
  vertical-align: top;
  width: 100%;
  margin: 0;
}

header {
  color: $dark_grey;
  opacity: 0.7;
  padding: 12px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  ul {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  li {
    display: inline-block;
    
  }
}

#maurann {
  @include transition(300ms);
}

.active {
  color: $dark_blue;
  letter-spacing: -0.8px;
}

section {
  width: 100%;
  &.all-other{
    background-color: $blue;
    margin-top: 120px;
  }
  @include at-nav-min {
    padding: 10px;
  }
}

div.aboutme {
  width: 100vw;
  height: 100vh;
  background-color: $light_grey;

  & > div {
    @include outer-container;
    width: 100%;
    height: 100%;
    max-width: 835px;
    @include at-tablet {
      max-width: $tablet-column-width;
    }
    @include at-mobile {
      max-width: 80%;
    }

  }
  h1 {
    width: 100%;
    top: 50%;
    position: relative;
    margin-top: -200px;
    @include at-tablet {
      margin-top: -170px;
    }
    @include at-mobile {
      margin-top: -150px;
    }
  }
}

article {
  @include outer-container;
  width: 100%;
  max-width: $desktop-width;
  padding-top: 180px;
  @include at-tablet {
    padding-top: 60px;
    margin-bottom: 50px;
    max-width: $tablet-column-width;
    &:first-of-type{
      padding-top: 100px;
    }
  }
  & > div {
    @include at-tablet {
      margin-bottom: 40px;
    }
  }
  &:first-of-type{

  }
  &:last-of-type{
    padding-bottom: 180px;
    @include at-tablet {
      padding-bottom: 0;
    }
  }
}

.video-mask {
  border-radius: 20px;
  position:absolute;
  margin-top: -370px;
  right: 5px;
  width: 210px;
  height: 438px;
  overflow:hidden;
  video {
    width: 300px;
    height: auto;
    margin-left: -48px;
    margin-top: -5px;
  }
}

#comp-content {
  transform: matrix3d(0.95, 0.06964, 0, 0.00099, 0.32, 1.2479, 1, -0.00006, 1, 0, 1, 0, 67, 56, 0, 1);
  position: absolute;
  outline: 1px solid transparent;
  width: 240px;
  height: auto;
  z-index: -1;
 /* @include at-nav-min {
    transform: matrix3d(0.95, 0.06964, 0, 0.0007, 0.32, 1.2479, 1, -0.00006, 1, 0, 1, 0, 58, 110, 0, 1);
    width: 238px;
  }
  @include at-tablet {
    transform: matrix3d(0.95, 0.06964, 0, 0.0007, 0.32, 1.2479, 1, -0.00006, 1, 0, 1, 0, 53, 101, 0, 1);
    width: 174px;
  }*/
}

section li {
  border-top: 1px solid $lighter_blue;
  padding: 12px 0;
  position: relative;
  &:last-of-type {
    border-bottom: 1px solid $lighter_blue;
  }
}

.all-other span {
  position: absolute;
  right: 0;
}

footer {

  background-color: $dark_blue;
  width: 100%;
  padding: 20px;
  color: $light_blue;
  & > div {
    @include outer-container;
    max-width: $desktop-width;
    @include at-tablet {
      max-width: $tablet-column-width;
    }
  }
  article {
    display: inline-flex;   
    margin: 0;
    padding: 0;
    &:last-of-type{
      padding: 0;
    }
    p {
      width: 50%;
      margin:0;
      &:last-of-type{
        text-align: right;
        margin:0;
      }
      a {
        color: inherit;
        border-bottom: none;
        &:hover {
          border-bottom: none;
        } 
      }
    }
  }
}

.project-page {
  .title-teaser {
      width: 100%;
      max-width: $desktop-width;
      position: relative;
      margin: 0 auto;
      margin-top: 120px;
      h3 {
        width: 60%;
        margin: -20px auto;
        text-align: center;
        &.visitsite {
          margin-bottom: 30px;
        }
        @include at-tablet{
          width: 90%;
          margin: 0px auto;
          &.visitsite {
            margin-bottom: 20px;
          }
        }
      }
    @include at-tablet{
      max-width: $tablet-column-width;
    }
  }
  article {
    padding-top: 160px;
    @include at-tablet {
      padding-top: 0px;
    }
    &:first-of-type {
      padding-top: 110px;
    }
    h3 {
      margin-top: 0;
    }
/*    img {
      width: 100%;
      height: auto;
    }*/
  }
  .center {
    @include shift(2);
    text-align: center;
    margin-bottom: 40px;
    @include at-tablet {
      margin-left: 0;
    }
  }
  .other-projects {
    p:first-of-type {
      margin-top: -3px;
    }
  }
  .all-other {
    margin-top: 40px;
  }
}

.EC {
  .gif-example {
    width: 100%;
    height: 170px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    &#ie-scroll {
      background-image: url(../images/window-scroll2.gif);
      background-position: 50% 65%;

    }
    &#ie-rounds {
      background-image: url(../images/round-selection2.gif);
      background-position: 50% 0;
    }
    &#ie-timer {
      background-image: url(../images/timer2.gif);
      background-position: 50% 40%;
    }
  }
  img.app-view {
    width: 200px;
    height: auto;
    margin-bottom:12px;
    @include at-tablet {
      left: 50%;
      margin-left: -100px;
      position: relative;
    }
  }
  img.flow-diagram {
     width: 80%;
     height: auto;
     @include at-tablet {
      width: 100%;
     }
  }
}

.bullet {
    text-align: center;
    @include pad(0 15px);
}

.website-video {
  position: relative;
  img {
    position: absolute;
  }
  video {
    width: 100%;
    height: auto;
    margin-top: 28px;
    z-index: -1;
  }
}

figure {
  margin-bottom: 30px;
  img {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
  }
  &.featured-image {
    margin-bottom: 100px;
    @include at-tablet {
      margin-bottom: 30px;
    }
  }
}

.twin {
  margin-bottom: 0px;
}
.other-featured {
  text-align: center;
  article {
    border-top: 1px solid $blue;
    padding:40px 0 0 0;
  }
  h2{
    margin: 0 0 60px 0;
  }
  figure > img {
    height: auto;
    width: auto;
    max-width: 95%;
    max-height: 163px;
  }
  p {
    margin-top: 30px;
  }
  #comp-content {
    transform: matrix3d(0.95, 0.03, 0, 0.0015, 0.31, 1.21, 1, -0.00015, 1, 0, 1, 0, 31, 25, 0, 1);
    width: 135px;
  }
}

.all-other article {
    padding: 120px 0 110px 0;
    @include at-tablet {
      padding: 80px 0 20px 0 !important;
    }
    @include at-mobile {
      padding-bottom: 10px;
    }
} 

.all-other span {
  display: inline-block;
  @include at-tablet {
    display: none;
  }
  
}
.youtube-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  & iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
}

.art-page {
  figure {
    margin-bottom: 100px;
    text-align: left;
  }
}
/*========================================
==========================================
                 HELPERS
==========================================
========================================*/

.one-column {
  @include span-columns(1);
}

.two-columns {
  @include span-columns(2);
  @include at-tablet {
    margin-right: 0;
    width: 100%;
  }
}

.three-columns {
  @include span-columns(3);
  @include at-tablet {
    margin-right: 0;
    width: 100%;
  }
}

.four-columns {
  @include span-columns(4);
  @include at-tablet {
    margin-right: 0;
    width: 100%;
  }
}

.five-columns {
  @include span-columns(5);
  @include at-tablet {
    margin-right: 0;
    width: 100%;
  }
}

.six-columns {
  @include span-columns(6);
  @include at-tablet {
    margin-right: 0;
    width: 100%;
  }
}

.seven-columns {
  @include span-columns(7);
  @include at-tablet {
    margin-right: 0;
    width: 100%;
  }
}

.eight-columns {
  @include span-columns(8);
  @include at-tablet {
    margin-right: 0;
    width: 100%;
  }
}

.nine-columns {
  @include span-columns(9);
  @include at-tablet {
    margin-right: 0;
    width: 100%;
  }
}

.twelve-columns {
  @include span-columns(12);
  @include at-tablet {
    margin-right: 0;
    width: 100%;
  }
}

.shift-one {
  @include shift(1);
  @include at-tablet {
    @include shift(0);
    margin-left: 0;
  }
}


p.clear {
  clear:both;
}

.clear {
  @include omega();
}
.hidden {
  display: none;
}

.hide-at-desktop {
  display: none;
  @include at-tablet {
    display: block;
  }
}

.hide-at-tablet {
  display: block;
  @include at-tablet {
    display: none;
  }
}
