.top-navigation-container {
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0px;
  position: fixed;
  transition: 300ms ease-in-out;
  transform: translate(0px, 0px);
  .top-navigation {
    display: flex;
    .current-time, .current-weather, .current-section {
      padding-right: 5px;
    }
  }
  &.folded-up {
    transition: 300ms ease-in-out;
    transform: translate(0px, -20px);
  }
}
