section.all-other
  article
    ul
      li
        a(href='/projects/aia-heritage-ball.html') +  AIA Heritage Ball
        span
          a.branding branding
      li
        a(href='/projects/boropark-laundromat.html') +  Boropark Laundromat
        span
          a.website website
      li
        a(href='/projects/ourtype.html') +  Ourtype
        span
          a.typography typography
          | ,
          a.website website
      li
        a(href='/projects/20Days-20Nights.html') +  20 Days & 20 Nights
        span
          a.website website
      li
        a(href='/projects/teabox.html') +  Teabox
        span
          a.branding branding
          | ,
          a.packaging packaging
      li
        a(href='/projects/NYC-philharmonic.html') +  NYC Philharmonic Open Rehearsals
        span
          a.poster poster
          | ,
          a.interactive-print interactive print
      li
        a(href='/projects/edge-of-sight.html') +  At the Edge of Sight
        span
          a.book book
          | ,
          a.typography typography
      //- li
      //-   a(href='/projects/springtime.html') +  How Do You Know it’s Springtime?
      //-   span
      //-     a.poster poster
      //-     | ,
      //-     a.illustration illustration
      //-     | ,
      //-     a.lithography lithography
      li
        a(href='/projects/free-culture-manifesto.html') +  Free Culture Manifesto
        span
          a.typography typography
          | ,
          a.interactive-print interactive print
      li
        a(href='/projects/sound-walk.html') +  Sound Walk
        span
          a.book book
          | ,
          a.interactive-print interactive print
      //- li
      //-   a(href='/projects/nothing-anywhere.html') +  Nothing Anywhere album cover
      //-   span
      //-     a.illustration illustraion
      //- li
      //-   a(href='/projects/future-of-printed-book.html') +  Is there a future for printed book design?
      //-   span
      //-     a.poster poster
      li
        a(href='/projects/wiki-book.html') +  Wikipedia Book
        span
          a.book book
          | ,
          a.typography typography
      li
        a(href='/projects/someones-story.html') +  Someone’s Story
        span
          a.book book
      //- li
      //-   a(href='/projects/from-birds-to-rooftops.html')
      //-     | +  Moving from the Matter of Birds to the Matter of
      //-     | Rooftops
      //-   span
      //-     a.animation stopmotion animation
      li
        a(href='/projects/drawings.html') +  Drawings
        span
          a.art art
      li
        a(href='/projects/paintings.html') +  Paintings
        span
          a.art art
