section.other-featured
  article
    h2 more selected projects
    .four-columns
      a(href='/projects/exquisite-corpse.html')
        figure
          img(src='/images/EC-logo2.gif')
        p Exquisite Corpse
    .four-columns
      a(href='/projects/artificial-art.html')
        figure
          img(src='/images/ArtificialArt-inBrowser.gif')
        p Artificial Art
    .four-columns
      a(href='/projects/anti-alias-regular.html')
        figure
          #AAText
        p Anti Alias Regular
    .four-columns
      a(href='/projects/draw-me-a-letter.html')
        figure
          img(id="comp-content" src="/images/DMAL.gif")
          img(src="/images/macbook.png")
        p Draw Me A Letter