$black:              #000;
$white:              #fff;

$light_grey:          #EFEDEA;
$dark_grey:           #404040;

$blue:                #105AFF;
$dark_blue:           #0033A3;
$light_blue:          #A2CFFF;  /*0.7 opacity for unhighlighted list text*/
$lighter_blue:        #3272FF;  /*for the lines*/

$desktop-width:       960px;
$tablet-column-width: 430px;


/*Breakpoint sizes*/
$pro-width: 1440px;
$desktop-large-width: 1200px;
$desktop-width: 1024px;
$nav-min-width: $desktop-width;
$tablet-width: 768px;
$small-tablet-width: 620px;
$mobile-width: 540px;
$mobile-portrait-width: 350px;

/*Define your breakpoints*/
$pro: new-breakpoint(max-width $pro-width 8);
$desktop-large: new-breakpoint(max-width $desktop-large-width 8);
$desktop: new-breakpoint(max-width $desktop-width 8);
$nav-min: new-breakpoint(max-width $nav-min-width 8);
$tabletMinimum: new-breakpoint(min-width $tablet-width 8);
$tablet: new-breakpoint(max-width $tablet-width 8);
$small-tablet: new-breakpoint(max-width $small-tablet-width 8);
$mobile: new-breakpoint(max-width $mobile-width 8);
$mobile-portrait: new-breakpoint(max-width $mobile-portrait-width 8);