extends ../../layouts/project.jade
block content
  main.project-page
    header
      include ../common/top_navigation
    section.other-projects
      .title-teaser
        h1 20 Days & 20 Nights
        h3.visitsite
          a(href='http://maurann.com/game/', target='_blank') Visit site
        h3
          | Over the course of 20 days and 20 nights I have documented my dreams and my daily experiences. In this experiment the conscious is juxtaposed to the subconscious in the form of a dice-game. Every roll of the dice affects this chance-generated juxtaposition of reality and dream.
      article
        figure.featured-image
          img(src='/images/20DN.gif')
        .six-columns.clear
          figure
            img(src='/images/20DN-2.png')
        .five-columns.shift-one.clear
          p
            | Over the course of 20 days and 20 nights I have documented my dreams and my daily experiences. In this experiment the conscious is juxtaposed to the subconscious in the form of a dice-game. Every roll of the dice affects this chance-generated juxtaposition of reality and dream.
        div
          figure
            img(src='/images/20DN-3.png')
          figure
            img(src='/images/20DN-4.png')
          figure
            img(src='/images/20DN-5.png')
