extends ../../layouts/project.jade
block content
  main.project-page
    header
      include ../common/top_navigation
    section.other-projects
      .title-teaser
        h1 AIA Heritage Ball
        h3
          | With Jang Hyun Han, Joseph Han, Sue Lee, at Pentagram: Team Natasha Jen
      article
        figure.featured-image
          img(src='/images/aia3.jpg')
        .five-columns
          p
            | Each year architects and designers come together for the American Institute of Architects’ Heritage Ball in New York. The annual gala, which was established in the 1980s, honours the city’s tradition for varied and first-rate architecture and held its 2015 event last week.
          p
            | Pentagram partner Natasha Jen and her team designed a compelling identity for the ball that includes a playful and highly-effective typeface inspired by the way architecture responds to available space. The custom typeface, named Herita-Geo, makes use of a blue double line to accentuate its architectural quality and is composed of letterforms that extend horizontally. Across banner ads, email invites and the printed collateral, which includes a journal and invitations, regular and extended widths are used all at once, and to beautiful effect. (It’s Nice That)
        .six-columns.shift-one.clear
          figure
            img(src='/images/aia2.gif')
          figure
            img(src='/images/aia1.gif')
      article
        figure
          img(src='/images/aia4.jpg')
        figure
          img(src='/images/aia5.jpg')
        figure
          img(src='/images/aia6.jpg')
        figure
          img(src='/images/aia7.jpg')
