extends ../../layouts/project.jade
block content
  main.project-page
    header
      include ../common/top_navigation
    section.other-projects
      .title-teaser
        h1 Boropark Laundromat
        h3.visitsite
          a(href='http://maurann.com/boro-park-laundromat/index.html', target='_blank') Visit site
        h3
          | An exploration of a space in NYC.
          br
          | This website aims to represent the laundromat, a space that is both private and public.
      article
        figure.featured-image
          img(src='/images/BP-1.png')
        .six-columns
          figure
            img(src='/images/BP-2.png')
          figure
            img(src='/images/BP-5.png')
        .six-columns.clear
          figure
            img(src='/images/BP-3.png')
          figure
            img(src='/images/BP-6.png')
        div
          figure
            img(src='/images/BP-7.png')
          figure
            img(src='/images/BP-8.png')
