extends ../../layouts/project.jade
block content
  main.project-page
    header
      include ../common/top_navigation
    section.other-projects
      .title-teaser
        h1 Free Culture Manifesto
        h3
          | A redesign for the Free Culture manifesto that prompts the reader to take on an active role and participate in in its construction.
      article
        figure.featured-image
          img(src='/images/FC-9.jpg')
        .six-columns
          figure
            img(src='/images/FC-3.png')
        .six-columns.clear
          figure
            img(src='/images/FC-4.png')
        div
          figure
            img(src='/images/FC-5.png')
        .six-columns
          figure
            img(src='/images/FC-6.png')
        .six-columns.clear
          figure
            img(src='/images/FC-7.png')
        .eight-columns.center
          figure
            img(src='/images/FC-8.gif')
