extends ../../layouts/project.jade
block content
  main.project-page
    header
      include ../common/top_navigation
    section.other-projects
      .title-teaser
        h1 Moving from the Matter of Birds to the Matter of Rooftops
        h3
          | A stop motion animation based off of a poem by the israeli poet and writer Yehonatan Geffen.
          br
          | With David Klein.
      article
        figure.featured-image
          .youtube-wrapper
            iframe(width='420', height='315', src='https://www.youtube.com/embed/X961DsYbbIQ?rel=0&showinfo=0?rel=0&vq=hd1080', frameborder='0', allowfullscreen='')
        .five-columns
          figure
            img(src='/images/MFBTR-4.png')
            figcaption Color research
        .six-columns.shift-one.clear
          h3 The poem (English translation):
          p
            | To jump is the last thing,
            br
            | It’s true sometimes,
            br
            | I must admit,
            br
            | I feel like trying,
            br
            | And you say to yourself:
            br
            | One step to the sky,
            br
            | Is only a step
            br
            | And that might be the only
            br
            | Option to achieve
            br
            | Eternal liberty.
            br
            | But on second thought:
            br
            | It’s still too early.
            br
            | You’re young to jump.
            br
            | And what would you do if
            br
            | You fall next to one
            br
            | That you don’t know?
            br
            | Wait a few years,
            br
            | First let others jump,
            br
            | Do the testing,
            br
            | First let rabbits jump and
            br
            | See how they react.
            br
            | In the meantime only go up,
            br
            | Enjoy the view.
            br
            | (Wait with the end).
          p
            | -Yehonatan Gefen
            br
            |                   (Translated from Hebrew)
          p.unindent
            | Music by Oskar Schuster – "Sneeuwland"
            br
            |                   oskarschuster.com
        div
          figure
            img(src='/images/MFBTR-1.jpg')
          figure
            img(src='/images/MFBTR-3.jpg')
          figure
            img(src='/images/MFBTR-2.jpg')
