extends ../../layouts/project.jade
block content
  main.project-page
    header
      ul
        li 12:34pm  
        li
          a(href='../index.html') Other Projects
        li   |  Partly Cloudy
    section.other-projects
      .title-teaser
        h1 Nothing Anywhere
        h3.visitsite
          a(href='http://cannonsband.bandcamp.com/', target='_blank') Visit Cannon’s bandcamp
        h3
          | Cannons debut album cover,
          i Nothing Anywhere
          | , 2013.
      article
        figure.featured-image
          img(src='/images/cannons2.jpg')
        div
          figure
            img(src='/images/cannons1.jpg')
          figure
            img(src='/images/cannons3.jpg')
          figure
            img(src='/images/cannons4.jpg')
