extends ../../layouts/project.jade
block content
  main.project-page.art-page
    header
      ul
        li 12:34pm  
        li
          a(href='../index.html') Other Projects
        li   |  Partly Cloudy
    section.other-projects
      .title-teaser
        h1 Paintings
        h3
          | A collection of work from 2007–2012.
      article
        .eight-columns.center
          figure
            img(src='/images/painting1.jpg')
            figcaption Acrylic on a map of Israel, 35x47 cm 2013
          figure
            img(src='/images/painting2.jpg')
            figcaption Oil on canvas, 60x100 cm, 2007
          figure
            img(src='/images/painting3.jpg')
            figcaption Acrylic on canvas, 60x90 cm, 2007
          figure
            img(src='/images/painting4.jpg')
            figcaption Acrylic on newspaper, 58x37.5 cm, 2006
          figure
            img(src='/images/painting5.jpg')
            figcaption Oil on canvas, 90x150 cm, 2007
          figure
            img(src='/images/painting6.jpg')
            figcaption Gouache on paper, 2012
