extends ../../layouts/project.jade
block content
  main.project-page
    header
      ul
        li 12:34pm  
        li
          a(href='../index.html') Other Projects
        li   |  Partly Cloudy
    section.other-projects
      .title-teaser
        h1 Someone’s Story
        h3
          | In this collaboration with David Klein and Morgan Connellee.
      article
        figure.featured-image
          img(src='/images/stranger1.jpg')
        .six-columns
          figure
            img(src='/images/stranger3.jpg')
        .six-columns.clear
          p.
            In this collaboration we tried to encapsulate a stranger’s life story in a small booklet.
            We were fortunate to meet and to interview Dave, 58 years-old immigrant who is working as a doorman at 79 5th Avenue.
          p.
           The booklet is divided into three parts,
           following Dave’s geographical narrative:
           it starts in his birth place, Guyana, continues with his years in New York,
           and ends again in Guyana—where he anticipates to return to as he retires.
           The three parts were printed and type-set differently to accentuate the contrast in rhythm and mentality
           between Guyana and New York.
        div
          figure
            img(src='/images/stranger2.jpg')
          figure
            img(src='/images/stranger4.jpg')
          figure
            img(src='/images/stranger5.jpg')
