extends ../../layouts/project.jade
block content
  main.project-page
    header
      include ../common/top_navigation
    section.other-projects
      .title-teaser
        h1 Sound Walk
        h3
          | Sounds Walk  was an urban experience in Manhattan on the morning of Febuary 19, 2014.
      article
        figure.featured-image
          img(src='/images/SW-5.jpg')
        .six-columns
          figure
            img(src='/images/SW-1.jpg')
        .six-columns.clear
          p
            | Each person in the group got a small phone-book and was instructed to pick a number from it
            span *
            | , call it, and follow the directions given by the person on the other end.
          p
            | This strange guided audio experience prompted a shift from one sense to the other, from the visual to the tactile, to the auditory. It provided the listener with a new and different relationship with a specific geographic area, and triggered a moment of auditory intimacy with a complete stranger.
          p.unindent
            span *
            | (The phone numbers in the book were picked carefully from a group of close friends who did not know the ‘sound walkers’).
        div
          figure
            img(src='/images/SW-2.jpg')
          figure
            img(src='/images/SW-7.gif')
        .six-columns
          figure
            img(src='/images/SW-3.jpg')
        .six-columns.clear
          figure
            img(src='/images/SW-4.jpg')
