extends ../../layouts/project.jade
block content
  main.project-page
    header
      include ../common/top_navigation
    section.other-projects
      .title-teaser
        h1 How Do You Know it’s Springtime?
        h3
          | Lithography poster
      article
        figure.featured-image
          img(src='/images/litho.jpg')
