extends ../../layouts/project.jade
block content
  main.project-page
    header
      ul
        li 12:34pm  
        li
          a(href='../index.html') Other Projects
        li   |  Partly Cloudy
    section.other-projects
      .title-teaser
        h1 Teabox
        h3
          | With Belinda Chen, Jang Hyun Han, Sue Lee, at Pentagram: Team Natasha Jen
      article
        figure.featured-image
          img(src='/images/Teabox01.png')
        .six-columns
          figure
            img(src='/images/Teabox04.png')
          figure
            img(src='/images/Teabox05.png')
        .five-columns.shift-one.clear
          p
            | The most widely consumed beverage in the world next to water, tea is still largely produced and distributed much as it was two centuries ago, often at the expense of freshness. Teabox is a tea-commerce company that is seeking to revolutionize the experience of one of the oldest drinks in history by bringing it directly to the consumer. Pentagram’s Natasha Jen and her team have designed a bold new identity, packaging and website for the online retailer that will help establish it as a global brand.
          p
            | “The tea business is an old industry and its visuals still thrive on common clichés,” says Jen. “We wanted to strike a different note that would convey Teabox as a creative and premium brand that is rooted in tea tradition.”
          p
            | The freshness of the tea is reflected in the packaging, which appears in crisp, clean white and a palette of bright colors. The industrial look of the typography is set off by special papers and colors that create a luxurious, tactile, personal experience of the brand. The Teabox tagline is “Every cup a journey,” and the typography turns every box into a mini-crate with special foil-stamped stencil lettering. The surfaces of the containers are further covered in a different custom textured pattern in a clear gloss varnish. (Pentagram)
        div
          figure
            img(src='/images/Teabox02.png')
          figure
            img(src='/images/Teabox03.png')
