extends ../../layouts/project.jade
block content
  main.project-page
    header
      include ../common/top_navigation
    section.other-projects
      .title-teaser
        h1 Wikipedia Book
        h3
          | The content of this book was taken from the Wikipedia page “2013 Global Surveillance Disclosures” on December 2013.
      article
        figure.featured-image
          img(src='../assets/images/WB-2.jpg')
        .six-columns
          figure
            img(src='../assets/images/WB-1.png')
        .six-columns.clear
          p
            | Every link in the article on Wikipedia (“2013 Global Surveillance Disclosures”) is blackened out in my book, and can be seen on the corresponding urls written in the beginnig of every chapter.
            | These are the chapter links that complete the scensored instances in the book:
          p.unindent
            a(target='_blank', href='http://maurann.com/historical_background.html') Chapter 1
            br
            a(target='_blank', href='http://maurann.com/summary_of_surveillance.html') Chapter 2
            br
            a(target='_blank', href='http://maurann.com/timeline_of_disclosures.html') Chapter 3
            br
            a(target='_blank', href='http://maurann.com/fallout.html') Chapter 4
            br
            a(target='_blank', href='http://maurann.com/reaction.html') Chapter 5
            br
            a(target='_blank', href='http://maurann.com/list_of_americans_under_surveillance.html') Chapter 6
        div
          figure
            img(src='../assets/images/WB-6.png')
          figure
            img(src='../assets/images/WB-5.png')
          figure
            img(src='../assets/images/WB-4.png')
